#header {
	background: green;
}

.module caption {
	background: green;
}

div.breadcrumbs {
	background: limegreen;
}

.module h2 {
	background: yellowgreen;
}

.submit-row input {
	background: yellowgreen;
}

.aligned .form-row label {
    width: 120px;
    line-height: 1.7;
}

.aligned .field-conc_thc_sangue.form-row label,
.aligned .field-conc_cbd_sangue.form-row label,
.aligned .field-conc_11_oh_thc_sangue.form-row label,
.aligned .field-cannabis_ricreazionale.form-row label {
    width: 270px;
}

input[type=submit]:hover {
	background: green;
}

input[type=submit].default {
	background: limegreen;
}

input[type=submit].default:hover {
    background: green;
}

.object-tools a:link, .object-tools a:visited {
	background: limegreen;
}

.object-tools a.addlink {
    background-image: url(../../static/admin/img/tooltag-add.svg);
    background-repeat: no-repeat;
    background-position: 93% center;
}

.object-tools a.addlink:hover {
	background: green;
	background-image: url(../../static/admin/img/tooltag-add.svg);
    background-repeat: no-repeat;
    background-position: 93% center;
}

.object-tools a.import_link:hover,
.object-tools a.export_link:hover,
.object-tools a.historylink:hover {
	background: green;
}
