body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #efefef;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', serif;
}

h1.title {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #6D9E71;
    color: white;
}

p {
    font-size: 16px;
}

ul {
    list-style: none;
}

.bpi td, 
.bpi th {
    padding: 5px;
}

.bpi-t0,
.bpi-t1 {
    width: 20%;
    text-align: center;
}

.bpi-tipo {
    width: 25%;
}

.bpi-trend {
    width: 25%;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.tab-content .dati-paziente h3,
.tab-content .terapia-cannabis h3,
.tab-content .bpi h3,
.tab-content .eventi-avversi h3,
.tab-content .modalita-decotto h3 {
    margin-top: 0;
    margin-bottom: 30px;
}

.dati-paziente,
.eventi-avversi,
.modalita-decotto,
.terapia-cannabis,
.bpi {
    padding: 20px;
}

.dati-paziente--wrapper,
.eventi-avversi--wrapper,
.modalita-decotto--wrapper,
.terapia-cannabis--wrapper,
.bpi--wrapper {
    padding: 20px;
    border: 1px solid #ddd;
}

.eventi-avversi .fa {
    margin-left: 5px;
}

.tab-content {
    background: white;
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.tab-pane h2 {
    margin-top: 0px;
    padding-left: 40px;
    padding-top: 20px;
}
